head
  title Chore System
  link(rel='stylesheet', href='/css/cropper.min.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/vapor.min.css')
  link(rel='stylesheet', href='/css/style.css')
