html(lang="en")
  include head.pug
  body
    section.h-100
      div.container.h-100
        div.row.justify-content-sm-center.h-100
          div.col-xxl-4.col-xl-5.col-lg-5.col-md-7.col-sm-9
            div.card.shadow-1g.mt-5
              div.card-body.p-5
                h1.fs-4.card-title.fw-bold.mb-4 Chores System
                form(action="/login", method="POST")
                  div.mb-3
                    div.form-floating
                      input.form-control(name="username" id="username" type="text" autofocus)
                      label(for="username") Username
                    div.form-floating
                      input.form-control(name="password" id="password" type="password")
                      label(for="password") Password
                    button.w-100.btn.btn-lg.btn-primary(type="submit") Login

include foot.pug
