nav.navbar.navbar-expand-lg.navbar-light.bg-light
  div.container-fluid
    a.navbar-brand(href="#") Chores System
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="/") Home
      li.nav-item
        span.nav-link /
